body{
	font-family: calibri;
	border-width: 0;
	margin:0;
	padding:0;
}



/* compatibilite d'internet explorer */
a, img{
	border: none;
}




/* confirguration de la banniere */
div#banner{
	background: url('image/Banner.png') repeat-x;
	position: absolute;
	height: 52px;
	min-width: 100%;
	top: 0;
	left: 0;
}

a.nouvelle{
	display: block;
	background: url('image/Nouvelles.png');
	width: 93px;
	height: 128px;
}

a.nouvelle:hover{
	background: url('image/select_nouv.png');
}

a.musique{
	display: block;
	background: url('image/Musique.png');
	width: 93px;
	height: 128px;
}

a.musique:hover{
	background: url('image/select_mus.png');
}

a.contact{
	display: block;
	background: url('image/Contact.png');
	width: 93px;
	height: 128px;
}

a.contact:hover{
	background: url('image/select_cont.png');
}

div#header{
	background: url('image/Header.png') no-repeat;
	width: 1024px;
	height: 230px;
	margin: 0 auto;
}

table{
	padding: 5% 0;
	margin: 0 auto;
}

tr{
	padding: 10% 0;
}

td{
	padding: 20px 30px;
}

div#title{
	line-height: 35px;
	padding-left: 20%;
}

img.mail{
	float: right;
	margin-top: 8px;
	margin-right: 20%;
}





/* Page d'introduction */
div#NomOfficiel{
	text-align: center;
	font-size: 350%;
}

p.accueil{
	text-align: center;
}

p.page{
	text-align: center;
	font-size: 150%;
}






/* Affichage; mise en page */
div#info{
	background: url('image/Info_top.png');
	background-repeat: repeat-x;
	padding: 20px 20%;
	margin-bottom: 70px;
}

div#nouvelles{
	text-align: justify;
	margin: 20px 10%;
}

div#sign{
	text-align: right;
	float: right;
	font-weight: bold;
}

img.album{
	padding: 0 20px 20px 10px;
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}

a.achat{
	float: right;
}






/* Bas de page */
div#bottom{
	color: #fff;
	background: #000 url('image/bottom_light.png') no-repeat top center;
	padding: 0 20%;
}

a.bottom:link{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

a.bottom:visited{
	color: #00FFFF;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}





/* Introduction personnelle */
table.person{
	padding: 5% 0;
	margin: 0 auto;
}

tr.person{
	padding: 10%;
}

td.person{
	padding: 5%;
	width: 300px;
	text-align: justify;
}

img.avatar1{
	background-color: #fff;
	max-height:100px;
	max-width: 100px;
	margin: 0 5px;
}

img.avatar2{
	background-color: #fff;
	max-height:100px;
	max-width: 100px;
	margin: 0 5px;
}





/* Copyright */
div#copy{
	font-size: 12px;
	text-align: center;
	color: #505050 ;
	padding-bottom: 50px;
}

